.audiobook-details-page {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: #eaf6f6;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.details-info {
  max-width: 60%;
  text-align: left;
}

.details-info h1 {
  font-size: 2.5rem;
  color: #1d7874;
  margin-bottom: 10px;
}

.details-info h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.details-info .author, .details-info .narrator {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.details-info span {
  color: #1d7874;
  font-weight: 600;
}

.details-info .rating {
  font-size: 1.2rem;
  color: #ffc107;
  margin-bottom: 20px;
}

.listen-button {
  background-color: #1d7874;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.listen-button:hover {
  background-color: #145a56;
}

.details-image img {
  max-width: 300px;
  border-radius: 10px;
}

.description {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description h2 {
  font-size: 1.8rem;
  color: #1d7874;
  margin-bottom: 10px;
}

.description p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.chapters {
  margin-top: 40px;
}

.chapters h2 {
  font-size: 1.8rem;
  color: #1d7874;
  margin-bottom: 20px;
}

.chapter {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapter h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

audio {
  width: 100%;
}
