.footer {
    background-color: #134b39;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .footer-links a, .social-icons a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .footer-links a:hover, .social-icons a:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
  